// footer

.footer-bloc {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1350px;
  margin: auto;
  border: 0px solid black;
  padding-left: 35px;
}

.footer-bloc-card {
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 1;
  min-width: 235px;
  justify-content: column;
  margin-bottom: 10px;
}

.footer-title {
  color: #000000;
  font-size: 0.95em;
  font-weight: 500;
  text-align: left;
  margin-bottom: 10px;
  user-select: none;
}

.footer-text {
  color: #000000;
  font-size: 0.86em;
  line-height: 174%;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
  list-style-type: none;
  user-select: none;
}

@media screen and (max-width: 670px) {
  .footer-bloc {
    flex-direction: column;
    gap: 30px;
  }
}
