// Mixin - Extenssion - Variables

//Mise en forme
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center2 {
  margin: auto;
}

.link {
  text-decoration: none;
}

.section_title {
  color: #000000;
  text-align: left;
  font-size: 1.17em;
  font-weight: 600;
  margin-top: 23px;
  margin-bottom: 25px;
  font-family: "Roboto", "Arial";
  user-select: none;
  display: flex;
  flex-wrap: initial;
}
