body {
  background-color: white;
  color: black;
  font-family: "Roboto Slab", serif;
}

.series-frame {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #eee;
  margin: 30px;
  padding: 10px;
}

#info {
  color: darkblue;
  font-size: 1.12rem;
}
